<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Admin na doma</title>
  <link rel="icon" type="image/x-icon" href="{$basePath}/images/favicon.ico">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <link rel="stylesheet" type="text/css" href="{$basePath}/css/admin.css">
</head>
<div class="bodyDiv">
  <nav class="navbar navbar-expand-lg pl-12 d-flex justify-content-between">
    <a class="navbar-brand" n:href="Admin:dashboard">
      <img src="{$basePath}/images/adminPage/logoAdmin.png" class="d-inline-block align-top" width="310" height="100" alt="logo"/>
    </a>
    <div class="d-flex flex-row icons">
      <a n:href="Admin:logout" class="my-2 mx-2 rounded">
        <img class="adminIcon px-3 py-3" src="{$basePath}/images/adminPage/logout.png" alt="Odhlasit" />
      </a>
    </div>
  </nav>

  <div class="row mt-4">
    <div class="col-4">
      <h3>Uživatelé</h3>
      <div id="scrollableWindow">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Email</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {foreach $allUsers as $userInfo}
              <tr>
                <th scope = "row">{$userInfo->user_id}</th>
                <td>{$userInfo->email}</td>
                <td> <a n:href="Admin:profileInfo $userInfo->user_id"><button>EDIT</button></a></td>
              </tr>
            {/foreach}
          </tbody>
        </table>
      </div>  
    </div>

    <div class="col-5">
      <canvas id="myManWomanChart" class="mx-auto"></canvas>
      <canvas id="favoriteService" style="width:100%;max-width:500px" class="mx-auto mt-3"></canvas>
    </div>

    <div class="col-3">
      <ol class="list-group mb-4 mx-auto">
        <a n:href="Admin:complaint" class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto fw-bold">Stížnosti</div>
          <span class="badge bg-warning rounded-pill">{$countComplaint}</span>
        </a>
        <a n:href="Admin:career" class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto fw-bold">Životopisy</div>
          <span class="badge bg-warning rounded-pill">{$countCareer}</span>
        </a>
        <a n:href="Admin:pay" class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto fw-bold">Platby</div>
          <span class="badge bg-warning rounded-pill">{$newOrdersCount}</span>
        </a>
      </ol>
      <ul class="list-group mainInfo mx-auto">
        <li class="list-group-item fs-5">Počet načtení stránky: {$visitorsNumber}</li>
        <li class="list-group-item fs-5">Počet uživatelů: {$countUsers}</li>
      </ul>
      <div class="mt-2 dateInfo">
        <p class="textTime fw-bold">{$date}</p>
        <div id="time" class="textTime fw-bold"></div>
      </div>
    </div>
  </div>
</div>

<div class="varovani text-center mt-5 pt-5">
  <a n:href="Home:default" class="my-2 mx-2 rounded">
    <img class="px-3 py-3" src="{$basePath}/images/adminPage/warn.png" alt="pozor" />
    <p class="pt-4 fs-3 fw-bold warText">Nemáte dostatečně velikou obrazovku pro přístup na Admin stránku.</p>
    <p class="fs-3 fw-bold warText">Zpět na hlavní stránku</p>
  </a>
</div>
<script>
  const xValues = ["Muži","Ženy"];
  const xValue = ["Úklidové služby", "Zahradnické služby", "Dovoz jídla", "Péče o mazlíčka", "Stěhování nábytku","Servis auta"];
  const yValues = [{$countMan},{$countWoman}];
  const yValue = [{$service1}, {$service2}, {$service3}, {$service4}, {$service5}, {$service6}];
  const barColor = ["#f03330","#f79457","#d3eb67","#3dd0f5","#ce64f5","#37f04a"];
  const barColors = ["#0d14d6","#ed0c22"];
  new Chart("myManWomanChart", {
    type: "pie",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,data: yValues
      }]
    },
    options: {
      legend: {
        display: false
        },
      title: {
        display: true,text: "Graf Muži / Ženy přihlášených uživatelů",fontSize: 20
      }
    }
  });
  new Chart("favoriteService", {
    type: "bar",
    data: {
      labels: xValue,
      datasets: [{
        backgroundColor: barColor,data: yValue
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      },
      legend: {
        display: false
        },
      title: {
        display: true,text: "Nejoblíbenější služba",fontSize: 20
      }
    }
  });

function startTime() {
    const today = new Date();
    let h = today.getHours();
    let m = today.getMinutes();
    if (m < 10) { m = "0" + m; }
    document.getElementById('time').innerHTML = h + ":" + m;
    setTimeout(startTime, 1000);
}
startTime();
</script>
</html>